.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.table{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 1%;
  margin: 20% 20% 5% 20%;
  font-size: large;
  width: 500px;
}

th{
  font-size: 2rem;
}